* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.highlight {
	background-color: #ff0000;
}

.box-container{
	border:0px;
	display: flex;
	justify-content: center;
	align: center;
}

.box {
	width: 800px;
	height: 600px;
	display: flex;
	flex-flow: column;
}
.box-quarter {
	display: flex;
	flex: 1;
}

.box-row {
	display: flex;
	flex: 1;
}

.rect {
	flex: 1;
	border: 1px solid black;
}

.vertical-container {
	display: flex;
	flex-flow: column;
	flex: 1;
}

.row-container {
	display: flex;
	flex: 1;
}

.f {
	flex: 2;
}

.x {
	flex: 3;
}